{% extends 'todo/base.html' %}


{% block body %}
<div class="container">
  <div class="card bg-dark text-light">
    <div class="card-body p-2">
      <div class="d-flex justify-content-between">
        <span>WALUTA</span>
        <span>OPIS</span>
        <span>KURS ŚREDNI<sup>({{exchange_rate_date}})</sup></span>
      </div>
    </div>
  </div>
  {% for rate in user_rates_to_render %}
  <a href="{% url 'exchange_rates:exchange_rates_diagram' rate.code %}" class="text-dark">
    <div class="card">
      <div class="card-body p-1">
        <div class="d-flex justify-content-between">
          <span>1 <b>{{rate.code}}</b></span>
          <span>{{rate.currency}}</span>
          <span><b>{{rate.mid}}</b> PLN
            {% if rate.mid > rate.previous %}
              <sup class="text-success">{{rate.percent}}%</sup>
            {% elif rate.mid == rate.previous %}
              <sup>{{rate.percent}}%</sup>
            {% else %}
              <sup class="text-danger">{{rate.percent}}%</sup>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>


{% endblock %}