{% extends 'todo/base.html' %}
{% block body %}
{% load static %}
<div class="container mt-3">
  <div class="jumbotron shadow shadow-lg">
    {% if not message %}
      <h1 class="">Zmiana hasła</h1>
      <hr>
      <div class="row">
        <div class="col-12 col-lg-6 mb-1">
          <form method="post">  {% csrf_token %}
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend" style="width:35%;">
                <div class="input-group-text w-100"><span class="d-block mx-auto">Stare hasło:</span></div>
              </div>
              {{form.old_password}}
            </div>
            <div class="text-danger small">
              {{form.old_password.errors}}
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend" style="width:35%;">
                <div class="input-group-text w-100"><span class="d-block mx-auto">Nowe hasło:</span></div>
              </div>
              {{form.new_password1}}
            </div>
            <div class="text-danger small">
              {{form.new_password1.errors}}
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend" style="width:35%;">
                <div class="input-group-text w-100"><span class="d-block mx-auto">Powtórz hasło:</span></div>
              </div>
              {{form.new_password2}}
            </div>
            <div class="text-danger small">
              {{form.new_password2.errors}}
            </div>
            <button type="submit" id="home-change-password" class="btn btn-success btn-block">Zmień hasło</button>
          </form>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex border bg-light p-3 rounded s">
            <div class="align-self-center">
              {{form_help.new_password1.help_text}}
            </div>
          </div>

        </div>
      </div>
    {% else %}
    <div class="alert alert-success">
      <p class="lead text-center">{{message}}</p>
      <a class=" btn btn-block btn-success " href="{% url 'home' %}">Powrót do strony głównej</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}