{% extends 'todo/base.html' %}
{% block body %}
{% load static %}
<div class="container mt-3">
  <div class="jumbotron shadow shadow-lg">
    {% if not message %}
    <h1 class="display-4">Zmiana hasła</h1>
    <form method="post">
  {% csrf_token %}
      {{form}}
    <button type="submit" id="home-change-password" class="btn btn-success">Zmień hasło</button>
    </form>
    {% else %}
    <div class="alert alert-success">
      <p class="lead text-center">{{message}}</p>
      <a class=" btn btn-block btn-success " href="{% url 'home' %}">Powrót do strony głównej</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}