<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OrganizerAPP</title>
  <link rel="icon"
      type="image/png"
      href="{% static 'todo/img/tasks-solid.svg' %}">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/56500f3944.js" crossorigin="anonymous"></script>
  <script src="{% static 'todo/ingredients_builder.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'todo/table_to_pdf.js' %}" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'todo/styles.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>
  <link crossorigin="anonymous" href="{% static 'todo/bootstrap4-toggle.min.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="{% static 'todo/bootstrap4-toggle.min.js' %}"></script>
  <script src="{% static 'todo/jquery.formset.js' %}"></script>
  {% block extra_head %}{% endblock %}

  <script>
    function toggleIncomeGlobal() {
        fetch('{% url "budget:toggle_income_setting" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // 1. Obsługa starych pól (w sekcjach)
            const oldFields = document.querySelectorAll('[id^="income-value-"]');
            oldFields.forEach(el => {
                const rawValue = el.getAttribute('data-income'); // np. "1 234,56"
                console.log(rawValue)
                // Zamienia każdą cyfrę (\d) na gwiazdkę (*), ignoruje spacje i przecinki
                const maskedValue = rawValue.replace(/\d/g, '*');

                  el.innerText = data.hide_income ? `Dochód: ${maskedValue} zł` : `Dochód: ${rawValue} zł`;
              });

              // 2. Obsługa nowych pól w Ledger Detail (klasa .income-sensitive)
              const sensitiveFields = document.querySelectorAll('.income-sensitive');
              sensitiveFields.forEach(el => {
                  const rawValue = el.getAttribute('data-raw-value');
                  const suffix = el.getAttribute('data-suffix') || ''; // Dla ikonki monet przy budżecie
                  const maskedValue = rawValue.replace(/\d/g, '*');
                  if (data.hide_income) {
                      el.innerHTML = maskedValue;
                  } else {
                      el.innerHTML = rawValue + suffix;
                  }
              });

              // 3. Podmiana wszystkich ikonek (w tym tej nowej globalnej)
              const allIcons = document.querySelectorAll('[id^="income-icon-"]');
              allIcons.forEach(icon => {
                  if (data.hide_income) {
                      icon.classList.replace('fa-eye', 'fa-eye-slash');
                  } else {
                      icon.classList.replace('fa-eye-slash', 'fa-eye');
                  }
              });
          })
          .catch(error => console.error('Błąd AJAX:', error));
      }
</script>

</head>
<body>
<div class="navbar-overlay" id="navbarOverlay"></div>
<div class="sticky-top navbar-main-container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 py-lg-1">
    <a class="navbar-brand" href="{% url 'home' %}">ORGANIZER
      {% if user.is_authenticated %}<small> {{request.user}}</small>{% endif %}</a>
      <div class="d-flex d-lg-none  align-items-center ml-auto mr-3 px-3 py-1 rounded-pill" id="global-weather">
        {% include 'weather/navbar_weather.html' %}
      </div>
    <button class="navbar-toggler modern-hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse navbar-offcanvas" id="navbarSupportedContent">
      <div class="close-sidebar text-right d-lg-none p-3">
          <i class="fas fa-times" id="closeSidebar"></i>
      </div>
      <ul class="navbar-nav mr-auto text-center">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping:shopping_list_index' %}">Zakupy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todo:index' %}">To do</a>
        </li>
        <li class="nav-item dropdown d-flex align-items-center flex-wrap">
          <a class="nav-link flex-grow-1 flex-lg-grow-0 pr-2" href="{% url 'meals:index' 1 %}">Jadłospis</a>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="jadlospis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &nbsp;<span class="sr-only">Rozwiń menu</span>
          </a>
          <div class="dropdown-menu mb-1" aria-labelledby="jadlospis">
            <a class="dropdown-item" href="{% url 'meals:edit_meals' %}">Posiłki</a>
            <a class="dropdown-item" href="{% url 'meals:edit_ingredients' %}">Składniki/Sklepy</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cars:cars_home' %}">Garaż</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'receipts:receipts_home' %}">Paragony</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gunsafe:gunsafe_home' %}">Szafa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'budget:budget_dashboard' %}">Finanse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'weather:weather_dashboard' %}">Pogoda</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="narzedzia" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Narzędzia
          </a>
          <div class="dropdown-menu mb-1" aria-labelledby="narzedzia">
            <a class="dropdown-item" href="{% url 'password_generator' %}"><i class="fas fa-key mr-1 text-secondary"></i> Generator haseł</a>
            <a class="dropdown-item" href="{% url 'exchange_rates:exchange_rates' %}"><i class="fas fa-coins mr-1 text-secondary"></i> Kursy walut</a>
            <a class="dropdown-item" href="{% url 'trip_planner' %}"><i class="fas fa-route mr-2 text-secondary"></i>Planer trasy</a>
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'gunsafe:shooting_timer' %}"><i class="fas fa-stopwatch mr-1 text-secondary"></i> Timer Strzelecki</a>
            {% endif %}
  <!--          <a class="dropdown-item" href="#">Kalkulator lokaty</a>-->
          </div>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <!-- Mobile User Profile -->
      <div class="user-profile-mobile d-lg-none">
        <div class="dropdown">
          <button type="button" class="btn-user-modern dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle mr-2"></i> {{user}}
          </button>
          <div class="dropdown-menu text-center p-2">
            <div class="mb-2 font-weight-bold border-bottom pb-2">{{user}}</div>
            <a class="btn btn-secondary btn-block mb-2" href="{% url 'accounts:change_password' %}"><i class="fas fa-key mr-2"></i>Zmień hasło</a>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-danger btn-block" type="submit"><i class="fas fa-sign-out-alt mr-2"></i>Wyloguj</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Desktop User Profile -->
      <div class="d-none d-md-flex align-items-center ml-auto mr-3 px-3 py-1 rounded-pill" id="global-weather-desktop">
        {% include 'weather/navbar_weather.html' %}
      </div>
      <div class="btn-group dropleft float-right d-none d-lg-inline-flex align-items-center">
        <button type="button" class="btn-user-modern-desktop dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle mr-2"></i> {{user}}
        </button>
        <div class="dropdown-menu text-center p-2">
          <div class="mb-1"><span class="font-weight-bold">{{user}}</span></div>
          <div class="mb-1"><a class="btn btn-secondary btn-block" href="{% url 'accounts:change_password' %}"><i class="fas fa-key mr-2"></i>Zmień hasło</a></div>
          <div>
            <form class="text-center logout-link"  action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-block" type="submit"><i class="fas fa-sign-out-alt mr-2"></i>Wyloguj</button>
          </form>
          </div>
        </div>
      </div>

      {% else %}
      <div class="text-center my-4 d-lg-none px-3">
        <a class="btn btn-success btn-block" href="{% url 'accounts:login' %}">Zaloguj</a>
      </div>
      <div class="d-none d-lg-block">
        <a class="btn btn-success btn-block" href="{% url 'accounts:login' %}">Zaloguj</a>
      </div>
      {% endif %}
    </div>
  </nav>
  {% if in_meals_list %}
  {% if current %}
    <nav class="navbar d-md-none navbar-light bg-light text-dark shadow p-1 w-100" style="margin: 0;">
      <button class="navbar-toggler btn-block shadow" type="button" data-toggle="collapse" id="mealsOptionsButton" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="mealsOptionsButtonText">opcje</span><span class="navbar-toggler-icon" id="mealsOptionsButtonIcon"></span>
      </button>
      <div class="collapse navbar-collapse mt-3 p-1" id="navbarNav">
        {% include 'meals/menu_template.html' %}
      </div>
    </nav>
  {% endif %}
  {% endif %}

</div>

{% block body %}
{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'todo/max_days_listener.js' %}" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      // Obsługa pokazywania nakładki, gdy menu się otwiera
      $('#navbarSupportedContent').on('show.bs.collapse', function () {
        $('#navbarOverlay').addClass('show');
        $('body').css('overflow', 'hidden'); // Blokada przewijania strony
      });

      // Obsługa ukrywania nakładki, gdy menu się zamyka
      $('#navbarSupportedContent').on('hide.bs.collapse', function () {
        $('#navbarOverlay').removeClass('show');
        $('body').css('overflow', 'auto');
      });

      // Zamykanie menu po kliknięciu w nakładkę
      $('#navbarOverlay').click(function() {
        $('#navbarSupportedContent').collapse('hide');
      });

      // Zamykanie menu po kliknięciu w krzyżyk
      $('#closeSidebar').click(function() {
        $('#navbarSupportedContent').collapse('hide');
      });
      
      // Zamknij menu jeśli okno zostanie powiększone powyżej 991px
      $(window).resize(function() {
        if ($(window).width() >= 992) {
            if ($('#navbarSupportedContent').hasClass('show')) {
                $('#navbarSupportedContent').collapse('hide');
            }
        }
      });
    });
  </script>

</body>
</html>