<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OrganizerAPP</title>
  <link rel="icon"
      type="image/png"
      href="{% static 'todo/img/tasks-solid.svg' %}">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/56500f3944.js" crossorigin="anonymous"></script>
  <script src="{% static 'todo/js_passwd_generator.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'todo/ingredients_builder.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'todo/table_to_pdf.js' %}" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'todo/styles.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>
  <link crossorigin="anonymous" href="{% static 'todo/bootstrap4-toggle.min.css' %}" rel="stylesheet">


  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="{% static 'todo/bootstrap4-toggle.min.js' %}"></script>
  <script src="{% static 'todo/jquery.formset.js' %}"></script>
  <![endif]-->
</head>
<body>
<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">ORGANIZER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>menu</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping:shopping_list_index' %}">Zakupy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todo:index' %}">To do</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'meals:index' 1 %}">Jadłospis</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pl-0" style="cursor:pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'meals:edit_meals' %}">Posiłki</a></a>
            <a class="dropdown-item" href="{% url 'meals:edit_ingredients' %}">Składniki/Sklepy</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cars:cars_home' %}">Garaż</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="narzedzia" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Narzędzia
          </a>
          <div class="dropdown-menu mb-1" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'password_generator' %}">Generator haseł</a>
  <!--          <a class="dropdown-item" href="#">Kalkulator lokaty</a>-->
          </div>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="btn-group dropleft float-right">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user px-3"></i>
        </button>
        <div class="dropdown-menu text-center p-2">
          <div class="mb-1"><span class="font-weight-bold">{{user}}</span></div>
          <div class="mb-1"><a class="btn btn-secondary btn-block" href="{% url 'accounts:change_password' %}"><i class="fas fa-key mr-2"></i>Zmień hasło</a></div>
          <div>
            <form class="text-center logout-link"  action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-block" type="submit"><i class="fas fa-sign-out-alt mr-2"></i>Wyloguj</button>
          </form>
          </div>
        </div>
      </div>
      {% else %}
      <div class="text-center">
        <a class="btn btn-success btn-block" href="{% url 'accounts:login' %}">Zaloguj</a>
      </div>
      {% endif %}
    </div>
  </nav>
  {% if in_meals_list %}
  {% if current %}
    <nav class="navbar d-md-none navbar-light bg-light border-top shadow">
      <button class="navbar-toggler btn-block shadow" type="button" data-toggle="collapse" id="mealsOptionsButton" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="mealsOptionsButtonText">opcje</span><span class="navbar-toggler-icon" id="mealsOptionsButtonIcon"></span>
      </button>
      <div class="collapse navbar-collapse mt-3" id="navbarNav">
        {% include 'meals/menu_template.html' %}
      </div>
    </nav>
  {% endif %}
  {% endif %}

</div>

{% block body %}
{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'todo/max_days_listener.js' %}" crossorigin="anonymous"></script>
</body>
</html>