{% extends 'todo/base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid" id="wrapper">
  <div class="row">
    <div class="col-12 mx-auto" id="">
      {% if user.is_authenticated %}
        <div class="row d-flex justify-content-center">
          <div class="ccol-12 col-md-6 col-xl-3 mb-2">
            <div class="card shadow" style="height:100%;">
              <div class="card-header bg-secondary text-light">
                Jadłospis
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <img src="{% static 'todo/img/utensils-solid.svg' %}" height="75" >
                  </div>
                  <div class="col-9">
                    <ul>
                      {% if meals_list_length %}
                      <li>{{meals_list_length}} {% if meals_list_length == 1 %}dzień{% else %} dni{% endif %}.</li>
                      <li>{{meals}} {% if meals == 1 %}danie{% endif %}{% if meals > 1 and meals < 5 %} różne dania{% endif %}{% if meals >= 5 %}różnych dań{% endif %}.</li>
                      <li>{{meal_options}} {% if meal_options == 1 %}posiłek{% endif %}{% if meal_options > 1 and meal_options < 5%}posiłki{% endif %}{% if meal_options >= 5 %}posiłków{% endif %} dziennie.</li>
                      <li>Średnio: {{average_clories_per_day}} kcal,</li>
                      <li>{{average_protein_per_day}}g białka,</li>
                      <li>{{average_fat_per_day}}g tłuszczów,</li>
                      <li>{{average_carb_per_day}}g węglowodanów dziennie.</li>
                      {% else %}
                      <li>Jadłospis jest pusty!</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mx-5 mb-2">
                <a href="{% url 'meals:index' %}" class="btn btn-secondary btn-block">Przejdź</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-2">
            <div class="card shadow" style="height:100%;">
              <div class="card-header bg-secondary text-light text-center">
                Zakupy
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img src="{% static 'todo/img/shopping-cart-solid.svg' %}" height="75">
                  </div>
                  <div class="col-8">
                    <ul>
                      {%  if shopping_lists %}
                      <li>{{shopping_lists}} {% if shopping_lists == 1 %}lista{% endif %}{% if shopping_lists > 1 and  shopping_lists < 5 %}listy{% endif %}{% if shopping_lists >= 5 %}list{% endif %} zakupów.</li>
                      <li>{{products_to_buy_counter}} {% if products_to_buy_counter == 1 %}pozycja{% endif %}{% if products_to_buy_counter > 1 and  products_to_buy_counter < 5 %}pozycje{% endif %}{% if products_to_buy_counter >= 5 %}pozycji{% endif %} do kupienia</li>
                      {% else %}
                      <li>Brak list zakupów!</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mx-5 mb-2">
                <a href="{% url 'shopping:shopping_list_index' %}"  class="btn btn-secondary btn-block">Przejdź</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-2">
            <div class="card shadow" style="height:100%;">
              <div class="card-header bg-secondary text-light text-center">
                TO DO
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img src="{% static 'todo/img/tasks-solid.svg' %}" height="75">
                  </div>
                  <div class="col-8">
                    <ul>
                      {% if all_to_do_count %}
                      <li>{{all_to_do_count}} {% if all_to_do_count == 1 %}zadanie{% endif %}{% if all_to_do_count > 1 and  all_to_do_count < 5 %}zadania{% endif %}{% if all_to_do_count >= 5 %}zadań{% endif %} do zrobienia</li>
                      {% else %}
                      <li>Brak zadań do zrobienia!</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mx-5 mb-2">
                <a href="{% url 'todo:index' %}"  class="btn btn-secondary btn-block">Przejdź</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-3 mb-2">
            <div class="card shadow" style="height:100%;">
              <div class="card-header bg-secondary text-light text-center">
                GARAŻ
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img src="{% static 'todo/img/car-solid.svg' %}" height="75">
                  </div>
                  <div class="col-8">
                    <ul>
                      {% if cars %}
                        {% for car in cars %}
                          {% if not car.sold %}
                          <a href="{% url 'cars:car_details' car.id %} " class="text-dark"><li>{{car}}</li></a>
                          {% else %}
                            <li>Garaż jest pusty</li>
                          {% endif %}
                        {% endfor %}

                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mx-5 mb-2">
                <a href="{% url 'cars:cars_home' %}"  class="btn btn-secondary btn-block">Przejdź</a>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="container">
          <div class="jumbotron shadow shadow-lg">
            <h1 class="display-4">Organizer</h1>
            <p class="lead">Zaloguj się aby móc tworzyć listy toDo i listy zakupowe</p>
            <hr class="my-4">
            <p>Bez logowania dostępne są tylko Narzędzia.</p>
            <a id="home-zaloguj" class="btn btn-success" href="{% url 'accounts:login' %}">Zaloguj</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}