{% extends 'todo/base.html' %}
{% block body %}
<div class="container-fluid mx-0 mx-md-2 " id="wrapper">
  <div class="row mt-1">
    <div class="col-12 col-md-4 col-xl-3">
      <a href="{% url 'todo:index' %}" class="list-group-item bg-dark text-light mb-0 mb-md-1">Aktualne listy</a>
      <div class="nav flex-column  nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for main, todos in todo_list.items %}
        <a class="btn btn-secondary btn-sm mb-0 mb-md-1" id="v-pills-{{main.id}}-tab" data-toggle="pill" href="#v-pills-{{main.id}}" role="tab" aria-controls="v-pills-{{main.id}}" aria-selected="true">{{main.name}}</a>
        {% endfor %}
    </div>
    <form action="{% url 'todo:add' %}" method="POST"  role="form" id="add_to_do_list">
      {% csrf_token %}
      <div class="form-group p-2 bg-dark">
        <div class="input-group">
          {{form.text}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary" id="add-btn">Nowa lista</button>
          </span>
        </div>
      </div>
    </form>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% if todo_list %}
        {% for main, todos in todo_list.items %}
        <div class="tab-pane fade show active" id="v-pills-{{main.id}}" role="tabpanel">
          <div class="list-group-item bg-dark text-light d-flex justify-content-between">
            <span class="my-auto">{{main.name}}</span>
            <a href="{% url 'todo:delete_main_list' main.id %}" type="submit" class="btn btn-outline-light " onclick="return confirm('Usunąć listę {{main.name}}?')">
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </a>
          </div>
          {% for todo, steps in todos.items %}
          <div class="list-group-item d-flex justify-content-between py-1 bg-secondary text-light {% if todo.complete %} todo-completed text-muted {% endif %}" id="toDoItemContainer_{{todo.id}}">
            <div class="py-auto" id="toDoItem_{{todo.id}}">
              {% if todo.complete %}
              <a class="text-light toDoItemUnComplete_" id="toDoItemUnComplete_{{todo.id}}"  href="{% url 'todo:un_complete_todo' todo.id %}">{{ todo.text }}</a>
              {% else %}
              <a class="text-light font-weight-bold toItemComplete_" id="toDoItemComplete_{{todo.id}}"  href="{% url 'todo:complete_todo' todo.id %}">{{ todo.text }}</a>
              {% endif %}
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <button class="btn btn-dark btn-sm toDoButtonAdd" id="toDoButtonAdd_{{todo.id}}"><i class="fas fa-plus"></i></button>
              <a href="{% url 'todo:delete_todo' todo.id %}"  class="btn btn-dark btn-sm deleteToDo" id="deleteToDo_{{todo.id}}"><i class="far fa-trash-alt"></i></a>
            </div>

          </div>
          <div id="steps_{{todo.id}}">
            {% for step in steps %}
            <div class="d-flex justify-content-between list-group-item py-0 py-md-1 pl-5 {% if step.complete %}todo-completed{% endif %}" id="stepContainer_{{step.id}}">
              {% if step.complete %}
                <a class=" text-dark  text-muted unCompleteStep" id="unCompleteStep_{{step.id}}"  href="{% url 'todo:un_complete_step' step.id %}">{{step.text}}</a>
              {% else %}
                <a class="text-dark font-weight-bold completeStep" id="completeStep_{{step.id}}"  href="{% url 'todo:complete_step' step.id %}">{{step.text}}</a>
              {% endif %}
              <a id="deleteStep_{{step.id}}"  href="{% url 'todo:delete_step' step.id %}" class="btn btn-secondary btn-sm py-0 deleteStep" aria-hidden="true"><i class="fas fa-minus-circle text-light "></i></a>
            </div>
            {% endfor %}
          </div>
          <div class="list-group-item py-0 small pl-5">
          <form action="{% url 'todo:add_step' todo.id %}" method="POST"  role="form" style="display:none;" id="toDo_{{todo.id}}" name="addStep" class="addStep">
            {% csrf_token %}
            <div class="form-group my-1">
              <div class="input-group">
                <input type="text" placeholder="kolejny krok" class="form-control" required name="addStep" id="addStep_{{todo.id}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-secondary"><i class="fas fa-plus"></i></button>
                </span>
              </div>
            </div>
          </form>
          </div>
          {% endfor %}
          <form action="{% url 'todo:add_todo' main.id %}" method="POST" class="addTodoForm"  role="form" id="addTodoForm_{{main.id}}">
            {% csrf_token %}
            <div class="form-group p-1 bg-secondary">
              <div class="input-group">
                <input type="text" name="text" class="form-control" placeholder="" aria-label="Todo" aria-describedby="add-btn" maxlength="60" required="" id="addToDoInput_{{main.id}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-dark">+ zadanie</button>
                </span>
              </div>
            </div>
          </form>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-secondary">
          <p class="text-center">
            Brak zadań !!!
          </p>
        </div>
      {% endif %}
    </div>
  </div>
  </div>
</div>
<script>
  $('body').on('submit','.addTodoForm' ,function(e){
    e.preventDefault();
    var id = (e.target.id).split('_')[1];
    $.ajax({
      type:'POST',
      url:'add_todo/' + id,
      data:{
        text:$('#addToDoInput_' + id).val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
      console.log(data)
      $('#v-pills-' + id).replaceWith($('#v-pills-' + id,data));
      }
    });
   });

   $('body').on('click','.deleteToDo' ,function(e){
    e.preventDefault();
    var id = (e.currentTarget.id).split('_')[1];
    console.log(id);
    if (confirm('Usunąć zadanie?')) {
      $.ajax({
        url:'delete_todo/' + id,
        success: function(data){
        console.log(data)
        $('#toDoItemContainer_' + id).remove();
        $('#steps_' + id).remove();
        $('#toDo_' + id).remove();


        }
      });
    }

   });

  $('body').on('click','.toItemComplete_' ,function(e){
    e.preventDefault();
    var id = (e.currentTarget.id).split('_')[1];
    console.log(id);
    $.ajax({
      url:'complete_todo/' + id,
      success: function(data){
      console.log(data)
      $('#toDoItemContainer_' + id).replaceWith($('#toDoItemContainer_' + id,data));
      }
    });
  });

  $('body').on('click','.toDoItemUnComplete_' ,function(e){
    e.preventDefault();
    var id = (e.currentTarget.id).split('_')[1];
    console.log(id);
    $.ajax({
      url:'un_complete_todo/' + id,
      success: function(data){
      console.log(data)
      $('#toDoItemContainer_' + id).replaceWith($('#toDoItemContainer_' + id,data));
      }
    });
  });

  $('body').on('click','.completeStep' ,function(e){
      e.preventDefault();
      var id = (e.currentTarget.id).split('_')[1];
      console.log(id);
      $.ajax({
        url:'complete_step/' + id,
        success: function(data){
        console.log(data)
        $('#stepContainer_' + id).replaceWith($('#stepContainer_' + id,data));
        }
      });
    });


  $('body').on('click','.unCompleteStep' ,function(e){
    e.preventDefault();
    var id = (e.currentTarget.id).split('_')[1];
    console.log(id);
    $.ajax({
      url:'un_complete_step/' + id,
      success: function(data){
      console.log(data)
      $('#stepContainer_' + id).replaceWith($('#stepContainer_' + id,data));
      }
    });
  });

  $('body').on('click','.deleteStep' ,function(e){
    e.preventDefault();
    var id = (e.currentTarget.id).split('_')[1];
    console.log(id);
    if(confirm('Czy napewno usunąć krok?')){
      $.ajax({
      url:'delete_step/' + id,
      success: function(data){
      console.log(data)
      $('#stepContainer_' + id).remove();
      }
    });
    }
  });

  $('body').on('submit','.addStep' ,function(e){
    e.preventDefault();
    var id = (e.target.id).split('_')[1];
    $.ajax({
      type:'POST',
      url:'addStep/' + id,
      data:{
        addStep:$('#addStep_' + id).val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
      console.log(data)
      $('#addStep_' + id).val('');
      $('#steps_' + id).replaceWith($('#steps_' + id,data));
      $('#addStep_' + id).focus()
      }
    });
   });

</script>
{% endblock %}