{% extends 'todo/base.html' %}
{% block body %}
<div class="container-fluid mx-0 mx-md-2 " id="wrapper">

  <div class="row mt-1">
    <div class="col-12 col-md-4 col-xl-3">
      <li class="list-group-item bg-dark text-light">Aktualne listy</li>
      <div class="nav flex-column  nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for main, todos in todo_list.items %}
        <a class="btn btn-secondary mb-1" id="v-pills-{{main.id}}-tab" data-toggle="pill" href="#v-pills-{{main.id}}" role="tab" aria-controls="v-pills-{{main.id}}" aria-selected="true">{{main.name}}</a>
        {% endfor %}
    </div>
    <form action="{% url 'todo:add' %}" method="POST"  role="form">
      {% csrf_token %}
      <div class="form-group p-2 bg-dark">
        <div class="input-group">
          {{form.text}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary" id="add-btn">Nowa lista</button>
          </span>
        </div>
      </div>
    </form>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% for main, todos in todo_list.items %}
      <div class="tab-pane fade" id="v-pills-{{main.id}}" role="tabpanel" aria-labelledby="v-pills-{{main.name}}-tab">
        <div class="list-group-item bg-dark text-light d-flex justify-content-between">
          <span class="my-auto">{{main.name}}</span>
          <a href="{% url 'todo:delete_main_list' main.id %}" type="submit" class="btn btn-outline-light " onclick="return confirm('Usunąć listę {{main.name}}?')">
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          </a>
        </div>
        {% for todo, steps in todos.items %}
        <div class="list-group-item d-flex justify-content-between py-1 bg-secondary text-light">
          <div class="">
            {{ todo.text }}
          </div>
          <button class="btn btn-dark btn-sm toDoButtonAdd" id="toDoButtonAdd_{{todo.id}}">+</button>
        </div>
          {% for step in steps %}
            <div class="list-group-item py-0 pl-5">{{step.text}}</div>
          {% endfor %}
          <div class="list-group-item py-0 small pl-5">
          <form action="#" method="POST"  role="form" style="display:none;" id="toDo_{{todo.id}}">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                <input type="text" placeholder="kolejny krok" class="form-control" name="addStep_{{todo.id}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-secondary"> + </button>
                </span>
              </div>
            </div>
          </form>
          </div>
        {% endfor %}
        <form action="{% url 'todo:add_todo' main.id %}" method="POST"  role="form">
          {% csrf_token %}
          <div class="form-group p-2 bg-dark">
            <div class="input-group">
              {{form.text}}
              <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary">+ zadanie</button>
              </span>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>
{% endblock %}