{% extends 'todo/base.html' %}
{% block body %}
{% if messages %}
<div class="alert alert-warning w-50 mx-auto p-2 mt-2">
  <div class="toast-header">
    <strong class="mr-auto">Niepowodzenie!!!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {% for message in messages %}
<p>{{message}}<p/>
{% endfor %}
</div>
  </div>

{% endif %}
<div class="container mt-2 p-0" style="position:relative">
  <ul class="nav nav-tabs mb-1 row no-gutters" id="myShopMacrosTab" role="tablist">
    <li class="nav-item col">
      <a class="btn btn-outline-secondary  w-100 active" id="macro-tab" data-toggle="tab" href="#macro"
         role="tab"
         aria-controls="chart" aria-selected="false" style=" border-radius: 5px 0px 0px 5px !important;">
        <i class="fas fa-list"></i>
      </a>
    </li>
    <li class="nav-item col">
      <a class="btn btn-outline-secondary rounded-0  w-100" id="division-tab" data-toggle="tab" href="#division"
         role="tab"
         aria-controls="chart" aria-selected="false" style=" border-radius: 0px 0px 0px 0px !important;">
        <i class="fas fa-egg"></i>
        <i class="fas fa-bacon"></i>
        <i class="fas fa-drumstick-bite"></i>
        <i class="fas fa-pepper-hot"></i>
      </a>
    </li>
    <li class="nav-item col">
    <a class="btn btn-outline-secondary  w-100" id="shop-tab" data-toggle="tab" href="#shop"
       role="tab"
       aria-controls="fuel" aria-selected="true" style=" border-radius: 0px 5px 5px 0px !important;">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </li>
  </ul>
  <div class="tab-content" id="shops_macros_tabs">
    <div class="tab-pane fade" id="shop" role="tabpanel" aria-labelledby="shop-tab">
      <table class="table table-light table-striped table-hover" id="shops_tab">
        <thead class="thead-dark text-center">
        <tr>
          <th class="d-flex justify-content-between align-items-center">
            <span>SKLEPY</span>
            <button class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#addShopModal"><i
                class="fas fa-plus"></i></button>
          </th>
        </tr>
        </thead>
        <tbody>
        {% for shop in user_shops %}
        <tr>
          <td  class=" d-flex justify-content-between align-items-center" id="tdShop_{{shop.id}}">
            <span class="shop_" contenteditable="true" id="shop_{{shop.id}}">{{shop}}</span>
            <a onclick="return confirm('Usunąć sklep oraz i przypisanie do składników?')"
               href="{% url 'meals:delete_shop' shop.id %}" class="deleteShop_ fas fa-minus-circle text-secondary"
                id="deleteShop_{{shop.id}}"></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade " id="division">
      <button class="btn btn-sm btn-block btn-dark mb-2" data-toggle="modal" data-target="#addDivisionModal"><i
                  class="fas fa-plus"></i></button>
      <table class="table table-light table-striped table-hover" id="divisions_tab">
        <thead class="thead-dark text-center">
        <tr>
        <th class="text-left" >Dział</th>
        <th class="text-right">Priorytet</th>
        </tr>
        </thead>
        <tbody>
          {% for division in user_divisions %}
            <tr>
              <td class="text-left ">
                <a href="{% url 'meals:delete_division' division.id %}" class="fas fa-minus-circle text-secondary mr-1"></a>
                <span class="division_" contenteditable="true" id="division_{{division.id}}">{{division}}</span>
              </td>
              <td class="text-right">
                <span class="divisionPriority_" contenteditable="true" id="divisionPriority_{{division.id}}">{{division.priority}}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade service show active" id="macro">
      <div style="overflow-y:scroll; height:80vh;">
        <table class="table table-light table-striped table-hover table-fixed ">
          <thead class="thead-dark text-center">
          <tr>
            <th class="px-0">
              <button class="btn btn-sm btn-outline-light p-1 p-md-2" data-toggle="modal" data-target="#addIngredientModal"><i
                  class="fas fa-plus"></i></button>
            </th>
            <th class="align-items-center px-0">
              <span class="">Składnik</span>
            </th>
            <th class="p-0">kcal/100g<br>btw</th>
            <th class="p-0">szt./opak.</th>
            <th class="p-0">Sklep</th>
          </tr>
          </thead>
          <tbody class="table-sm">
          {% for ingredient in user_ingredients %}
          <tr>
            <td class="p-0 text-center">
              <a class="fas fa-edit text-dark" href="{% url 'meals:edit_ingredient_index' ingredient.id %}"></a>
              <a onclick="return confirm('Czy napewno usunąć składnik?')"
                 href="{% url 'meals:delete_ingr' ingredient.id %}" class="fas fa-minus-circle text-secondary"></a>
            </td>
            <td>
              {{ingredient}}{% if ingredient.short_expiry %}
                <sup class="fas fa-hourglass-start" ></sup>
            {% endif %}
            </td>
            <td nowrap="" class="text-center px-0">{{ingredient.calories_per_100_gram}}
            <br>
            {{ingredient.protein_per_100_gram}}-{{ingredient.fat_per_100_gram}}-{{ingredient.carbohydrates_per_100_gram}}
            </td>
            <td class="text-center px-0">{{ingredient.weight_per_unit}}</td>
            <td class="text-center px-0"><small>{{ingredient.shop}}</small></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>

  <div class="row">
    <div class="col-12 col-md-4 col-xl-2">

    </div>
    <div class="col-12 col-md-8 col-xl-10 ">

    </div>
  </div>
</div>

<div class="modal fade" id="addShopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="post" action="{% url 'meals:add_shop' %}" id="add_shop">{%csrf_token%}
        <div class="modal-header">
          <h5 class="modal-title">Nowy Sklep</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="addShopModalCloseButton">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input required type="text" name="new_shop_name" id="new_shop_name" class="form-control" placeholder="Nazwa sklepu">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="post" action="{% url 'meals:new_ingredient' %}">{%csrf_token%}
        <div class="modal-header">
          <h5 class="modal-title">Nowy Składnik</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'meals/ingredient_form.html' %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="addDivisionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="post" action="{% url 'meals:add_new_division' %}">{%csrf_token%}
        <div class="modal-header">
          <h5 class="modal-title">Nowy Dział</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col-12 col-md-6 mt-2">
              Nazwa:
              <input name="division_name" type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6 mt-2">
              Priorytet
              <input name="division_priority" type="number" class="form-control">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
   $('body').on('focusout','.shop_',function(e){
    e.preventDefault();
    var id = e.target.id
    var shop_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'POST',
      url:'/ingredientsEdit/editShop',
      data:{
        new_name:$('#shop_'+ shop_id).text(),
        shop_id: shop_id,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          $('#shop').load(document.URL + ' #shops_tab');
      }, 200);
      }
    });
  });

  $('body').on('click','.deleteShop_',function(e){
    e.preventDefault();
    var id = e.target.id
    var shop_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'GET',
      url:'/ingredientsEdit/deleteShop/' + shop_id,
      data:{
      },
      success: function(data){
        setTimeout (function() {
          $('#shop').load(document.URL + ' #shops_tab');
      }, 200);
      },
    });
  });

  $('body').on('submit','#add_shop',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'ingredientsEdit/addShop',
      data:{
        new_shop_name:$('#new_shop_name').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          $('#addShopModalCloseButton').click();
          $('#shop').load(document.URL + ' #shops_tab');
      }, 200);
      }
    });
  });

  $('body').on('focusout','.division_',function(e){
    e.preventDefault();
    var id = e.target.id
    var division_id = parseInt(id.split('_')[1])
    console.log(division_id)
    $.ajax({
      type:'POST',
      url:'ingredientsEdit/editDivision/' + division_id,
      data:{
        new_name:$('#division_'+ division_id).text(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          console.log(json)
      }, 200);
      }
    });
  });

  $('body').on('focusout','.divisionPriority_',function(e){
    e.preventDefault();
    var id = e.target.id
    var division_id = parseInt(id.split('_')[1])
    console.log(division_id)
    $.ajax({
      type:'POST',
      url:'ingredientsEdit/editDivisionPriority/' + division_id,
      data:{
        new_priority:$('#divisionPriority_'+ division_id).text(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
      $('.toast').toast('show');
        setTimeout (function() {
          ;
      }, 200);
      }
    });
  });
</script>
{% endblock %}