{% extends 'todo/base.html' %}

{% load l10n %}
{% load divide %}
{% block body %}

<div class="container-fluid py-2 mt-3">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="card shadow  p-0" style="">
            <div class="card-header text-center" id="card-header">
              <p id="option_name" class="lead mb-0" style="cursor:pointer;" title="Kliknj i edtyuj">
                {{meal.0.name|upper}} {%if meal.0.special%} **{% endif %}<br>
                <small>{{calories}} <sup>kcal</sup> </small> |
                <small>{{protein}}g <sup>białko</sup></small> |
                <small>{{fat}}g <sup>tłuszcz</sup></small> |
                <small>{{carbohydrates}}g <sup>węglowodany</sup></small>
              </p>
              <form id="new_meal_option_name" style="display:none;"
                    action="{% url 'meals:update_meal_name' meal.0.id %}" method="post">{% csrf_token %}
                <div class="input-group">
                  <input class="form-control" name="new_meal_name" type="text" value="{{meal.0.name}}">
                </div>
                <label class="my-2" for="edit_special"><input class="" type="checkbox" name="edit_special"
                                                              id="edit_special" {%if meal.0.special%}checked{% endif %}>Danie
                  specjalne</label>
                <button class="btn btn-sm btn-secondary btn-block" type="submit">Zmień</button>
              </form>
            </div>
            <ul class="list-group list-group-flush" id="ingredients_list">
              <li class="list-group-item p-0 ml-1" id="ingr">
                <small>Składniki:</small>
              </li>
              {% for ingredient in ingredients %}
              <li class="list-group-item d-flex justify-content-between align-items-center py-1">
                {{ingredient}}
                <span>
                  <span class="badge badge-secondary badge-pill p-2">{{ingredient.quantity}} g</span>
                  {% if ingredient.quantity|divide:ingredient.ingredient_id.weight_per_unit > 0 %}
                  <span class="badge badge-secondary badge-pill p-2 no_print"> {{ ingredient.quantity |divide:ingredient.ingredient_id.weight_per_unit }} szt</span>
                  {% endif %}
                  <span class="badge badge-secondary badge-pill p-2 no_print">{{ingredient.ingredient_id.shop}}</span>
                  <span class="badge badge-secondary badge-pill dropdown-toggle dropdownMenuButton_" style="cursor:pointer;" id="dropdownMenuButton_{{ingredient.id }}">
                  </span>
                </span>
              </li>
              <li class="list-group-item  update_ingredient_ px-1" id="update_ingredient_{{ingredient.id }}" style="display:none;">
                <form class="updateIngredient_ form" action="{% url 'meals:update_ingredient' meal.0.id ingredient.id  %}"
                      method="post" id="updateIngredient_{{ingredient.id }}">{% csrf_token %}
                  <div class="form-row mx-auto">
                    <div class="col-6 pr-0">
                      <input class="form-control" type="number" min="0" step="0.01" name="new_quantity" id="newQuantity_{{ingredient.id }}"
                             value="{% localize off %}{{ingredient.quantity}}{% endlocalize %}">
                    </div>
                    <div class="col-6 pl-0">
                      <select class="form-control" name="new_unit" id="newUnit_{{ingredient.id }}">
                        <option value="2">g</option>
                        <option disabled>-----</option>
                        {% for unit in units %}
                          <option value="{{unit.id}}">{{unit}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-12">
                      <div class="btn-group btn-block">
                      <button class="btn btn-secondary" type="submit">Zmień</button>
                      <a id="deleteIngr_{{ingredient.id}}" href="{% url 'meals:delete_ingredient' meal.0.id  ingredient.id %}"
                         class="delete_ingr_ btn btn-danger"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </div>
                  <div class="form-group row mb-0">

                  </div>
                </form>
              </li>
              {% endfor %}
            </ul>
            <ul class="list-group list-group-flush">
              <li class="list-group-item mt-2">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button id="new_ingredient_form_toggle" type="button" class="btn btn-outline-secondary btn-sm ml-1">
                    Opcje
                  </button>
                  <button id="print_meal_recipe" onclick="createPDFRecipe()" type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-print"></i>
                  </button>
                  <button class="btn btn-block btn-outline-info btn-block btn-sm" id="addding_ingr_info" style="display:none">Zapisywanie...</button>
                </div>
                <form style="display:none;" class="mt-2" action="{% url 'meals:add_ingredient' meal.0.id %}"
                      method="post" id="new_ingredient_form">{% csrf_token %}

                  <small>Nowy składnik:</small>
                  <div class="form-row mb-2">
                    <select class="form-control" name="ingredient" id="select_ingredient">
                      {% for ingredient in user_ingredients %}
                      <option value="{{ingredient.id}}">{{ingredient}} | {{ingredient.calories_per_100_gram}} kcal/100g</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-row mb-2">
                    <div class="input-group mb-3">
                      <input class="form-control" type="number" step="0.01" min="0" placeholder="Ilość" name="quantity"
                             value="1" id="quantity">
                      <div class="input-group-append">
                        <span class="" id="addon-quantity">
                          <select class="form-control" name="unit" id="unit">
                            {% for unit in units %}
                            <option value="{{unit.id}}" {% if unit.id == 2%} selected {% endif %}>{{unit}}</option>
                            {% endfor %}
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="col">
                      <button class="btn btn-secondary btn-block" type="submit"><i class="fas fa-plus"></i> Składnik
                      </button>
                    </div>
                  </div>
                  <a class="btn btn-outline-secondary btn-block" href="{% url 'meals:edit_ingredients' %}">Zarządzaj składnikami</a>
                  <div class="dropdown-divider"></div>
                  <a onclick="return confirm('Usunąć {{meal.0}} i wszystkie składniki?')"
                     href="{% url 'meals:delete_meal' meal.0.id  %}" class="btn btn-danger btn-block">Usuń
                    {{meal.0.name}}</a>
                </form>
              </li>
              <li class="list-group-item">

              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card shadow p-0" style="" id="update_recipe_container">
            <div class="card-header text-center">
              <p class="lead">Przepis</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0">
                <form action="{% url 'meals:add_recipe' meal.0.id %}" method="post" id="recipe_update"> {% csrf_token %}
                  <textarea name="update_recipe_textarea" id="update_recipe_textarea" class="form-control"
                            placeholder="{% if not meal.0.recipe %}Wprowadź przepis...{% endif %}"
                            rows="{{recipe_rows}}"
                            readonly>{% if meal.0.recipe %}{{meal.0.recipe}}{% endif %}</textarea>
                  <button id="allow_update_recipe" type="button" class="btn btn-block btn-secondary">Edytuj</button>
                  <button id="update_recipe" type="submit" class="btn btn-block btn-success mt-0 d-none">Zapisz</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script type="text/javascript">
  $('#new_ingredient_form').on('submit', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'/mealsEdit/add_ingredient/' + {{meal.0.id}},
      data:{
        ingredient:$('#select_ingredient').val(),
        quantity:$('#quantity').val(),
        unit:$('#unit').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        $('#addding_ingr_info').show('slow')
        setTimeout (function() {
        $('#addding_ingr_info').hide('slow')
          $('#ingredients_list').load(document.URL + ' #ingredients_list');
      }, 1000);
      }
    });
  });
  $('body').on('submit','.updateIngredient_',function(e){
    e.preventDefault();
    var id = e.target.id
    var ingr_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'POST',
      url:'/mealsEdit/update_ingredient/' + {{meal.0.id}} + '/' + ingr_id,
      data:{
        new_quantity:$('#newQuantity_'+ ingr_id).val(),
        new_unit:$('#newUnit_' + ingr_id).val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          $('#ingredients_list').load(document.URL + ' #ingredients_list');
      }, 1000);
      }
    });
  });

  $('body').on('submit','#recipe_update',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'/mealsEdit/add_recipe/' + {{meal.0.id}},
      data:{
        update_recipe_textarea:$('#update_recipe_textarea').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          $('#update_recipe_container').load(document.URL + ' #update_recipe_container');
      }, 1000);
      }
    });
  });

  $('body').on('click','.delete_ingr_',function(e){
    e.preventDefault();
    var id = e.target.id
    var ingr_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'GET',
      url:'/mealsEdit/delete_ingredient/'+{{meal.0.id}} +'/'+ ingr_id,
      data:{
      },
      success: function(data){
        $('#ingredients_list').load(document.URL + ' #ingredients_list');
      },
    });
  });
  </script>
  {% endblock %}