{% extends 'todo/base.html' %}


{% block body %}
{% load split %}
<div class="container-fluid p-0 mt-0 mt-md-2">
<input type="hidden" id="maximum_no_of_days_to_generate_no_repeat" value="{{maximum_no_of_days_to_generate_no_repeat}}">
        <input type="hidden" id="maximum_no_of_days_to_generate_default" value="{{maximum_no_of_days_to_generate_default}}">
  <div class="row no-gutters">
    {% include 'meals/menu.html' %}
    <div class="col-12 col-md-8 col-xl-10 px-0 px-md-2">
      {% if meals_list %}
      <div class="alert alert-secondary text-center p-1 mb-1 d-xl-none" id="mobileAverageContainer">
        <small id="mobileAverage">
          <b>Średnio: {{average_clories_per_day}} kcal |
          {{average_protein_per_day}}g<sup>białko</sup> |
          {{average_fat_per_day}}g<sup>tłuszcze</sup> |
          {{average_carb_per_day}}g<sup>węglowodany</sup></b>
        </small>
      </div>
        <div class="table-responsive-sm shadow " id="meals_list" >
          <table  class="table table-light table-striped" id="table"
                  {% if not current %}style="color: gray !important; opacity: 0.7;"{% endif %}>
            <thead id="meals_list_head" class="thead-dark">
            <tr class="text-center text-light">
              <th nowrap class="px-auto py-0 text-center" scope="col" id="b-t-w">
                <small class="d-none d-xl-table-cell" id="b-t-w-small">
                Średnio: {{average_clories_per_day}} kcal<br>
                {{average_protein_per_day}}g<sup>b<span class="no_print">iałko</span></sup> |
                  {{average_fat_per_day}}g<sup>t<span class="no_print">łuszcze</span></sup> |
                  {{average_carb_per_day}}g<sup>w<span class="no_print">ęglowodany</span></sup>
                </small>
              </th>
              {% for meal_option in generated_user_meals_options %}
              <th class="px-0" scope="col">
                <small><b>{{meal_option.meal_option__meal_option|upper}}</b></small>
                <input type="hidden" class="generated_meal_options" value="{{meal_option.meal_option_id}}">
              </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in day_meal_option_meal_list %}
            {% for day, meals in item.0.items %}
            {% with day_as_list=day|split %}
             <tr class="d-xl-none no_print {% if today_to_template|date:"Y-m-d" == day_as_list.1 %} bg-secondary text-light {% endif %}" id="tr_{{day}}">
                <td  class="text-center" colspan="6" id="div_td_{{day}}">
                  <b>{{day_as_list.0}} | {{day_as_list.1}} : {{item.1.0}} kcal</b><br>
                  <small class="">
                    {{item.1.1}}g <sup>białko</sup>|
                    {{item.1.2}}g <sup>tłuszcze</sup>|
                    {{item.1.3}}g <sup>węglowodany</sup>
                  </small>
                </td>
                {% endwith %}
            </tr>
            {% with day_as_list=day|split %}
            <tr style="position:relative" class="text-center {% if today_to_template|date:"Y-m-d" == day_as_list.1 %} bg-secondary text-light {% endif %}" >
              <th nowrap class="text-left pl-1 pr-0" id="th_{{day}}">
                <div id="div_th_{{day}}">
                  <input style="text-align: center;vertical-align: middle;" type="checkbox" name="day" class="checkbox my-auto mr-1" value="{% for meal in meals %}{% for ml in meal%}{{ml.id}},{% endfor %}{% endfor %}">
                  <span class="d-none d-xl-inline">
                    <small>
                      <b>{{day_as_list.0}} | <small>{{day_as_list.1}}</small>: {{item.1.0}} <sup>kcal</sup></b><br>
                    </small>
                    <small>
                      {{item.1.1}}g <sup class="no_print">białko</sup>|
                      {{item.1.2}}g <sup class="no_print">tłuszcze</sup>|
                      {{item.1.3}}g <sup class="no_print">węglowodany</sup>
                    </small>
                  </span>
                </div>
                {% endwith %}
              </th>
              {% for meal in meals %}
              <td  class="px-0"{%for ch_meal, all in meal.items%} id="td_{{ch_meal.id}}" {% endfor %}  >{%for ch_meal, all in meal.items%}
                <div class="" style="cursor:pointer;" id="dropdownMeal_{{ch_meal.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if ch_meal.meal_id %}
                  {{ch_meal}}{% for m in all %}{% if ch_meal.meal_id == m.0.id %} {% if m.0.special %} * {% endif %} {% if m.1.2 %} <sup>{{m.1.2.0}}</sup> {% endif %} {% endif %}{%endfor%}
                    {% for m in all %}{% if ch_meal.meal_id == m.0.id %} {% if m.1.1 %}<sup class="fas fa-hourglass-start" ></sup>{% endif %} {% endif %}{%endfor%}
                  {% else %}
                  ------
                  {% endif %}
                </div>
                {% if ch_meal.extras %}
                <small  style="cursor:pointer;" data-toggle="modal" data-target="#extrasModal" id="editExtrasSmallWrap_{{ch_meal.id}}">
                  <i class="editExtras" id="editExtrasSmall_{{ch_meal.id}}">
                    {{ch_meal.extras}}{% if ch_meal.extras.has_short_expiry %} <sup class="fas fa-hourglass-start" ></sup>{% endif %}
                    {% if ch_meal.extras.is_high_carb %} <sup>{{ch_meal.extras.is_high_carb.0}}</sup> {% endif %}
                  <input type="hidden" id="clicked_position_meal_{{ch_meal.id}}" value="{{ch_meal}}">
                  <input type="hidden" id="clicked_position_extras_{{ch_meal.id}}" value="{{ch_meal.extras}}">
                    {% for option, meals in all_meals_in_option_dict.items %}{% for meal in meals %}{% if meal.0 == ch_meal.extras%}
                    <input type="hidden" id="extras_calories_{{ch_meal.id}}" value="{{meal.1.0}}">
                    {%else%}{% endif %}{% endfor %}{% endfor %}
                    <input type="hidden" id="extras_link_{{ch_meal.id}}" value="{% url 'meals:edit_meal_ingredients' ch_meal.extras.id %}">
                  </i>
                </small>
                {% endif %}
<!--                make it one-->
                <div  class="dropdown-menu dropup p-0 ml-2" id="dropdownMenu_{{ch_meal.id}}">
                  {% if current %}
                  <div class=" mx-auto mb-1">
                    <small>Zmiana posiłku:</small>
                    <form id="form_{{ch_meal.id}}" action="{% url 'meals:update_meals_list' %}" method="post" class="form stopPropagation">{% csrf_token %}
                      <input type="hidden" name="record_id" value="{{ch_meal.id}}">
                      <input type="hidden" name="meal_option_id" value="{{ch_meal.meal_option_id}}">
                      <input type="hidden" name="meal_id" value="{{ch_meal.meal_id}}">
                      <select class="form-control" name="to_update" id="toUpdate_{{ch_meal.id}}">
                        <option value="">BRAK POSIŁKU</option>
                        {% for m in all %}
                          <option {% if ch_meal.meal_id == m.0.id %}selected="true"{% endif %} value="{{m.0.id}}">{{m.0}} | {{m.1.0}} kcal{% if m.0.special %} ** {% endif %} {% if m.1.2 %} | {{m.1.2.0}} {% endif %} </option>
                        {% endfor %}
                      </select>
                    </form>
                    {% endif %}
                    <span id="span_{{ch_meal.id}}">
                    {% if ch_meal.meal_id %}
                      <a href="{% url 'meals:edit_meal_ingredients' ch_meal.meal_id %}" id="a_{{ch_meal.id}}" class="btn btn-sm btn-block btn-dark mt-1">Edytuj {{ch_meal}}</a>
                    {% endif %}
                      {% if not ch_meal.extras %}
                      <button class="editExtras btn btn-sm btn-block btn-secondary mt-1 font-italic"
                              id="editExtrasButton_{{ch_meal.id}}" style="cursor:pointer;" data-toggle="modal"
                              data-target="#extrasModal">
                        Dodatki
                      </button>
                      <input type="hidden" id="clicked_position_meal_{{ch_meal.id}}" value="{{ch_meal}}">
                      {% endif %}
                    </span>
                  </div>
                </div>

                {% endfor %}
              </td>
              {% endfor %}
            </tr>
            <tr class="d-xl-none p-1 m-1 no_print"><td class="p-0" colspan="6"><hr class="m-1"></td></tr>
            {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
      {% if current %}
      <div class="alert alert-info" role="alert">
        <p class="text-center lead">
          Brak wygenerowanego jadłospisu kliknij
          <a href="#" class="alert-link" data-toggle="modal" data-target="#newMealsListModal">Generuj nowy jadłospis</a>
          aby wygenerować nowy.
        </p>
      </div>
      {% else %}
      <div class="alert alert-dark" role="alert">
        <p class="text-center lead">
          Brak poprzedniego jadłospisu!
        </p>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="extrasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg  no_print" role="document">
    <div class="modal-content extrasModal">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="extrasMmodalTitle">
          Dodatki dla: <span id="extrasModalTitleSpan">-------</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dismiss_extras_modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <span id="add_extras_span" class="text-center">Dodaj z posiłku:</span>
        <div class="text-left">
          <small id="current_extra_small" style="display:none;">Aktualny dodatek :
            <a id="current_extras" class="text-dark" href="#">
            </a>
          </small>
        </div>
        <div id="current_change_div" style="display:none;">Zmień:</div>
        {% for option, meals in all_meals_in_option_dict.items %}
        <form method="post" action="{% url 'meals:edit_extras' %}" name="editExtras" id="editExtras_{{option.id}}" >{% csrf_token %}
          <input type="hidden" id="" name="meals_list_position" value="">
          <input type="hidden" id="current_meal_id" value="">
          <input type="hidden" id="option_id" value="">
          <select onchange="" class="form-control mt-1" name="extras_select" id="extrasSelect_{{option.id}}">
            <option>
              {{option}}
            </option>
            {% for meal in meals %}
            <option value="{{meal.0.id}}">{{meal.0.name}} | {{meal.1.0}} kcal {% if meal.1.2 %}| {{meal.1.2.0}} {% endif %} </option>
            {% endfor %}
          </select>
        </form>
        <hr class="m-2">
        {% endfor %}
        <a id="delete_extras" style="display:none;" href="{%url 'meals:delete_extras' ' ' %}" class="btn btn-block btn-danger text-light mb-1"></a>
        <input id="base_delete_url" type="hidden" value="{%url 'meals:delete_extras' ' ' %}">
      </div>
      <div class="modal-footer p-2">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <!--                      <button type="button" class="btn btn-primary">Zapisz</button>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
