{% extends 'todo/base.html' %}

{% load l10n %}
{% block body %}

<div class="container-fluid py-2 mt-3">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="card shadow  p-0" style="">
            <div class="card-header text-center">
              <p id="option_name" class="lead mb-0" style="cursor:pointer;" title="Kliknj i edtyuj">{{meal.0.name|upper}} {%if meal.0.special%} **{% endif %} | <small>{{meal.0.calories}} kcal</small></p>
              <form id="new_meal_option_name" style="display:none;" action="{% url 'meals:update_meal_name' meal.0.id %}" method="post">{% csrf_token %}
                <div class="input-group">
                  <input class="form-control" name="new_meal_name" type="text" value="{{meal.0.name}}">
                  <input class="form-control " name="edit_calories" id="edit_calories" type="number" min="0" value="{{meal.0.calories}}">
                </div>
                <label class="my-2" for="edit_special"><input class="" type="checkbox" name="edit_special" id="edit_special" {%if meal.0.special%}checked{% endif %}>Danie specjalne</label>
                <button class="btn btn-sm btn-success btn-block" type="submit">Zmień</button>
              </form>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0 ml-1">
                <small>Składniki:</small>
              </li>
              {% for ingredient in ingredients %}
              <li class="list-group-item d-flex justify-content-between align-items-center py-1">
                {{ingredient}}
                <span>
                  <span class="badge badge-primary badge-pill p-2">{{ingredient.quantity}} {{ingredient.unit}}</span>
                  <span class="badge badge-primary badge-pill p-2">{{ingredient.shop}}</span>
                  <span class="badge badge-primary badge-pill dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                      <form class="form" action="{% url 'meals:update_ingredient' meal.0.id ingredient.id  %}" method="post">{% csrf_token %}
                        <div class="from-group row">
                          <div class="col-12">
                            <input class="form-control" type="text" required name="new_ingredient_name" value="{{ingredient}}">
                          </div>
                        </div>
                        <div class="from-group row">
                          <div class="col-6 pr-0">
                            <input class="form-control" type="number" min="0" step="0.01" name="new_quantity" value="{% localize off %}{{ingredient.quantity}}{% endlocalize %}">
                          </div>
                          <div class="col-6 pl-0">
                            <select class="form-control" name="new_unit">
                              <option value="{{ingredient.unit.id}}">{{ingredient.unit}}</option>
                              <option disabled>-----</option>
                              {% for unit in units %}
                                <option value="{{unit.id}}">{{unit}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="from-group row">
                          <div class="col-12">
                            <input class="form-control" type="text" name="new_shop" value="{{ingredient.shop}}">
                          </div>
                        </div>
                        <div class="form-group row mb-0">
                          <div class="col-12">
                            <button class="btn btn-primary btn-block" type="submit">Zmień</button>
                            <a href="{% url 'meals:delete_ingredient' meal.0.id  ingredient.id %}" class="btn btn-danger btn-block">Usuń składnik</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </span>
                </span>
              </li>
              {% endfor %}
              <li class="list-group-item mt-2">
                <button id="new_ingredient_form_toggle" type="button" class="btn btn-outline-secondary btn-sm ml-1">Opcje</button>
                <form style="display:none;" class="mt-2" action="{% url 'meals:add_ingredient' meal.0.id %}" method="post" id="new_ingredient_form">{% csrf_token %}
                  <smal>Nowy składnik:</smal>
                  {{form.name}}
                  <div class="form-row mb-2">
                    <div class="col">
                      <input class="form-control" type="text" required placeholder="Składnik" name="ingredient">
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="col-6">
                      <input class="form-control" type="number" step="0.01" min="0" placeholder="Ilość" name="quantity" value="1">
                    </div>
                    <div class="col-6">
                      <select class="form-control" name="unit">
                        {% for unit in units %}
                        <option value="{{unit.id}}">{{unit}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="col">
                      <input class="form-control" type="text" placeholder="Sklep" name="shop">
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="col">
                      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-plus"></i> Składnik</button>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a  onclick="return confirm('Usunąć {{meal.0}} i wszystkie składniki?')" href="{% url 'meals:delete_meal' meal.0.id  %}" class="btn btn-danger btn-block">Usuń {{meal.0.name}}</a>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card shadow p-0" style="">
            <div class="card-header text-center">
              <p class="lead">Przepis</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0">
                <form action="{% url 'meals:add_recipe' meal.0.id %}" method="post"> {% csrf_token %}
                  <textarea name="update_recipe_textarea" id="update_recipe_textarea" class="form-control" placeholder="{% if not meal.0.recipe %}Wprowadź przepis...{% endif %}" rows="{{recipe_rows}}" readonly>{% if meal.0.recipe %}{{meal.0.recipe}}{% endif %}</textarea>
                  <button id="allow_update_recipe" type="button" class="btn btn-block btn-secondary">Edytuj</button>
                  <button id="update_recipe" type="submit" class="btn btn-block btn-success mt-0 d-none">Zapisz</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>


  {% endblock %}