{% extends 'todo/base.html' %}


{% block body %}
{% load split %}

<div class="container-fluid py-2 mt-3">
  <div class="row">
    {% include 'meals/menu.html' %}
    <div class="col-12 col-md-8 col-xl-10 ">
      {% if meals_list %}
        <div class="table-responsive-sm shadow" id="meals_list">
          <table  class="table table-light table-striped table-hover">
            <thead id="meals_list_head" class="thead-dark">
            <tr class="text-center text-light">
              <th scope="col"></th>
              {% for meal_option in generated_user_meals_options %}
              <th scope="col">
                <b>{{meal_option.meal_option__meal_option|upper}}</b>
                <input type="hidden" class="generated_meal_options" value="{{meal_option.meal_option_id}}">
              </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in day_meal_option_meal_list %}
            {% for day, meals in item.items %}
            <tr class="text-center">
              <th scope="row" class="d-flex justify-content-between ">
                <input type="checkbox" name="day" class="checkbox my-auto" value="{% for meal in meals %}{% for ml in meal%}{{ml.id}},{% endfor %}{% endfor %}">
                {% with day_as_list=day|split %}
                {{day_as_list.0}}
                {% endwith %}
              </th>
              {% for meal in meals %}
              <td>{%for ch_meal, all in meal.items%}
                <span class="" style="cursor:pointer;" id="dropdownMeal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if ch_meal.meal_id %}
                  {{ch_meal}}{% for m in all %}{% if ch_meal.meal_id == m.id %} {% if m.special %} **{% endif %}{% endif %}{%endfor%}
                  {% else %}
                  ------
                  {% endif %}
                </span>
                <div class="dropdown-menu p-0">
                  <small>Zmiana posiłku:</small>
                  <form id="form_{{ch_meal.id}}" action="{% url 'meals:update_meals_list' %}" method="post" class="form">{% csrf_token %}
                    <input type="hidden" name="record_id" value="{{ch_meal.id}}">
                    <input type="hidden" name="meal_option_id" value="{{ch_meal.meal_option_id}}">
                    <input type="hidden" name="meal_id" value="{{ch_meal.meal_id}}">
                    <select class="form-control" name="to_update" onChange="form.submit();">
                      <option value="">BRAK POSIŁKU</option>
                      {% for m in all %}
                        <option {% if ch_meal.meal_id == m.id %}selected="true"{% endif %} value="{{m.id}}">{{m}}{% if m.special %} ** {% endif %} </option>
                      {% endfor %}
                    </select>
                  </form>
                  {% if ch_meal.meal_id %}
                  <a href="{% url 'meals:edit_meal_ingredients' ch_meal.meal_id %}" class="btn btn-sm btn-block btn-primary mt-1">Edytuj {{ch_meal}}</a>
                  {% endif %}
                </div>
                {% endfor %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
      <div class="alert alert-info" role="alert">
        <p class="text-center lead">
          Brak wygenerowanego jadłospisu kliknij
          <a href="#" class="alert-link" data-toggle="modal" data-target="#newMealsListModal">Generuj nowy jadłospis</a>
          aby wygenerować nowy.
        </p>
      </div>
      {% endif %}
      {% if meals_list %}
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#generateShoppingListsModal">
          GENERUJ LISTY ZAKUPÓW
        </button>
        <button type="button" onclick="createPDF()" class="btn btn-outline-dark btn-block mt-0">
          DRUKUJ
        </button>
      </div>
      <form>
        {% for item in day_meal_option_meal_list %}
          {% for day, meals in item.items %}
            {% for meal in meals %}
              {% for ml in meal%}<input type="checkbox" value="{{ml.id}}" name="mealsListPosition">{% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        <button class="btn btn-danger btn-block btn-sm mt-1" id="deleteSelectedDays" >Usuń zaznaczone dni</button>
      </form>


      <!-- Modal -->
      <div class="modal fade" id="generateShoppingListsModal" tabindex="-1" role="dialog" aria-labelledby="generateShoppingListsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Generacja list zakupów</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="" action="{% url 'meals:generate_shopping_lists' %}" method="post">{% csrf_token %}
                <label><input type="checkbox" checked>Wszystkie dni</label><br>
                <label><input name="delete_generated_shopping_lists" checked type="checkbox">Usunąć listy wygenerowane poprzednio?</label>
                <input type="number" class="form-control mb-1" required name="how_many_people" placeholder="Dla ilu osób?">
                <button type="submit" class="btn btn-primary btn-block">GENERUJ</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
