<div class="col-12 col-md-4 col-xl-2 mb-2 " style="position:relative;">
  <nav class="navbar navbar-expand-md navbar-light p-0">
    <div class="collapse navbar-collapse bg-light p-3 rounded shadow   " id="menu">
    {% include 'meals/menu_template.html' %}
    </div>
  </nav>
</div>

<div class="modal fade" id="generateShoppingListsModal" tabindex="-1" role="dialog" aria-labelledby="generateShoppingListsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generacja list zakupów</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="{% url 'meals:generate_shopping_lists' %}" method="post">{% csrf_token %}
<!--          <label><input type="checkbox" checked>Wszystkie dni</label><br>-->
          <input type="number" class="form-control mb-1" required name="how_many_people" placeholder="Dla ilu osób?">
          <button type="submit" class="btn btn-primary btn-block">GENERUJ</button>
          <label><input name="delete_generated_shopping_lists" checked type="checkbox">Usunąć listy wygenerowane poprzednio?</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="newMealsListModal" tabindex="-1" role="dialog" aria-hidden="true">
  <form action="{% url 'meals:generate_meals_list' %}" method="post" class="modal-dialog modal-dialog-centered" role="document">
    {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generacja nowego jadłospisu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row" id="meal_options_form">
          {% for option in user_meals_options %}
            <div class="col-6">
              <label><input class="mealsOptions" type="checkbox" value="{{option.id}}" name="mealsOptions[]" checked id="{{option}}">{{option|upper}}</label>
            </div>
          {% endfor %}
        </div>
        <hr id="meal_options_form_hr" class="p-1 m-0">
        <div class="form-row">
          <div class="input-group mb-3">
            <input type="hidden" value="{{maximum_no_of_days_to_generate}}" id="maximum_no_of_days_to_generate">
            <input class="form-control" type="number" name="howManyDays" value="1" id="howManyDays" min="1" max="{{maximum_no_of_days_to_generate_default}}">
            <div class="input-group-append">
              <label class="input-group-text" for="howManyDays">Na ile dni</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="input-group mb-3">
            <select class="form-control" name="first_day" id="first_day">
              {% for day in first_day_input_list %}
              <option value="{{day.id}}">{{day}}</option>
              {% endfor %}
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="first_day">Pierwszy dzień</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked id="twice_the_same_meal" name="twice_the_same_meal">
              <label class="form-check-label" for="twice_the_same_meal">
                Jeden posiłek przez dwa dni?
              </label>
            </div>
          </div>
        </div>
        {% if meals_list %}
        <div class="form-row">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="append_existing" name="append_existing">
              <label class="form-check-label" for="append_existing">
                Dodaj do istniejącego
              </label>
            </div>
          </div>
        </div>

        {% if maximum_no_of_days_to_generate_no_repeat > 0 %}
          <div class="form-row">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" checked id="no_repetition" name="no_repetition">
                <label class="form-check-label" for="no_repetition">
                  Nie powtarzaj posiłków z obecnego jadłospisu
                </label>
              </div>
            </div>
          </div>
        {% endif %}
        {% endif %}
        <div class="form-row">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="empty_meals_list" name="empty_meals_list">
              <label class="form-check-label" for="empty_meals_list">
                SAM WYBIERAM DANIA
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Generuj</button>
      </div>
    </div>
  </form>
</div>