<div class="col-12 col-md-2 mb-2">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="btn btn-outline-primary text-center mb-1" href="{% url 'meals:index' %}">JADŁOSPIS</a>
    <a class="btn btn-outline-primary text-center mb-1" href="{% url 'meals:edit_meals' %}">POSIŁKI</a>
    <!-- Button trigger modal -->
    {% if in_meals_list %}
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#newMealsListModal">
      Generuj nowy jadłospis
    </button>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="newMealsListModal" tabindex="-1" role="dialog" aria-hidden="true">
      <form action="{% url 'meals:generate_meals_list' %}" method="post" class="modal-dialog" role="document">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Generacja nowego jadłospisu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% for option in user_meals_options %}
            <label><input type="checkbox" value="{{option.id}}" name="mealsOptions[]" checked id="{{option}}">{{option|upper}}</label>
            {% endfor %}
            <label><input type="number" name="howManyDays" min="1" max="{{maximum_no_of_days_to_generate}}">Na ile dni</label>
            <label><input type="checkbox" checked name="twice_the_same_meal">Jeden posiłek rzez dwa dni?</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-primary">Generuj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>