
  <div class="menu_ul nav" id="menu_ul">
    <a class=" nav-item btn btn-outline-secondary btn-block mb-3" href="{% url 'meals:edit_meals' %}">Posiłki</a>
    {% if in_meals_list %}
    <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#newMealsListModal">
      Generuj nowy jadłospis
    </button>
    {% if meals_list %}
      <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#generateShoppingListsModal">
      Generuj listy zakupów
      </button>
      <button type="button" onclick="createPDF()" class="btn btn-outline-secondary  btn-block">
        Drukuj jadłospis
      </button>
      <form action="{% url 'meals:delete_selected_days' %}" class="deleteSelectedDays my-1 w-100"  id="deleteSelectedDays" method="POST">{% csrf_token %}
        {% for item in day_meal_option_meal_list %}
          {% for day, meals in item.items %}
            {% for meal in meals %}
              {% for ml in meal%}<input type="checkbox"  style="display:none;" value="{{ml.id}}" class="mealsListPosition_{{ml.id}}" name="mealsListPosition">{% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-outline-dark btn-block mt-1 deleteSelectedDaysButton" disabled  >Usuń zaznaczone dni</button>
      </form>
      <a href="{% url 'meals:purge_meals_list' %}" class="btn btn-outline-danger btn-block mt-1" onclick="return confirm('Wyczyścić jadłospis?')">
        Wyczyść jadłospis
      </a>
    {% endif %}
    {% endif %}
  </div>
