{% extends 'todo/base.html' %}
{% block body %}
{% load static %}
{% load average_fuel_cons %}
{% load render_table from django_tables2 %}
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 col-xl-9 ">
      <ul class="nav nav-tabs mb-1" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="btn btn-outline-secondary active border-right-0" id="fuel-tab" data-toggle="tab" href="#fuel" role="tab"
             aria-controls="fuel" aria-selected="true" style=" border-radius: 5px 0px 0px 5px !important;">Tankowania</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary rounded-0 " id="service-tab" data-toggle="tab" href="#service" role="tab"
             aria-controls="service" aria-selected="false">Serwis</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary border-left-0" id="contact-tab" data-toggle="tab" href="#chart" role="tab"
             aria-controls="chart" aria-selected="false" style=" border-radius: 0px 5px 5px 0px !important;">Zużycie paliwa</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="fuel" role="tabpanel" aria-labelledby="fuel-tab" >
          <div style="overflow-y:scroll; height:80vh;">
            {% for detail in car %}

          <form method="post" action="{% url 'cars:add_fuel_fill' detail.pk  %}" id="add_fuel_fill">{% csrf_token %}
            <table class="table table-bordered bg-light table-sm table-striped " id="filling_table">
              <thead class="bg-info text-center">
                <tr>
                  <th scope="col" class="d-none d-md-table-cell">Lp.</th>
                  <th scope="col">DATA</th>
                  <th scope="col">LITRY</th>
                  <th scope="col">KM</th>
                  <th scope="col">CENA/L</th>
                  <th scope="col">STAN LICZNIKA</th>
                  <th scope="col">ŚREDNIE ZUŻYCIE</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td class=" m-0 p-0 d-none d-md-block"></td>
                  <th class=" m-0 p-0" style="max-width:112px;">{{car_fill_form.date}}</th>
                  <th class=" m-0 p-0">{{car_fill_form.liters}}</th>
                  <th class=" m-0 p-0">{{car_fill_form.kilometers}}</th>
                  <th class=" m-0 p-0">{{car_fill_form.fuel_price}}</th>
                  <th class=" m-0 p-0">{{car_fill_form.mileage}}</th>
                  <th class=" m-0 p-0"><button class="btn border fas fa-save" type="submit"></button></th>
                </tr>
              {% for filling in car_fuel_fill_list %}
                <tr>
                  <th class="d-none d-md-block">{{forloop.counter}}</th>
                  <td>{{filling.date|date:"d M Y" }}</td>
                  <td>{{filling.liters}}</td>
                  <td>{{filling.kilometers}}</td>
                  <td>{{filling.fuel_price}}</td>
                  <td>{{filling.mileage}}</td>
                  <td>{{ filling.liters|average_fuel_cons:filling.kilometers }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </form>
            {% endfor %}
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <form class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                  </div>
                </form>
              </div>
            </div>
            </div>
        </div>
        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">SERWIS</div>
        <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">WYKRES ZUŻYCIA</div>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <button class="navbar-toggler btn-block shadow" type="button" data-toggle="collapse" data-target="#car_details"
                aria-controls="car_details" aria-expanded="false" aria-label="Toggle navigation">
          <span>dane techniczne</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="car_details">
          <div class="card w-100 ">
            {% for detail in car %}
            {% if detail.image %}
            <img class="card-img-top" style="width:100%;" src="{{detail.image.url}}" alt="{{detail}}">
            {% else %}
            <img class="card-img-top mx-auto" style="width:100%;" src="{% static 'todo/img/car-solid.svg'%}"
                 alt="{{detail}}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title mb-0">{{detail.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Marka:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.make}}</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Model:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.model}}</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Rok produkcji:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.year}}</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Silnik:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.engine}}</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Moc:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.power}} KM</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Przebieg w dn zakupu:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">{{detail.mileage}} KM</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Ostatni serwis/usterka:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">todo KM</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
            <span>
              <span class="text-dark">Średnie zużycie paliwa:</span>
            </span>
                <span>
              <h6 class="mb-0"><span class="badge badge-dark badge-pill">todo L /1 00KM</span></h6>
            </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center py-md-1 bg-light">
                <a class="btn btn-secondary btn-block btn-sm" href="{% url 'cars:car_edit' detail.pk %}">EDYCJA</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#add_fuel_fill').on('submit', function(e){
    e.preventDefault();
    console.log('ajax'+ {{detail.pk}});
    $.ajax({
      type:'POST',
      url:'/cars/carDetails/{{detail.pk}}/add_fuel_fill',
      data:{
        date:$('#id_date').val(),
        liters:$('#id_liters').val(),
        kilometers:$('#id_kilometers').val(),
        fuel_price:$('#id_fuel_price').val(),
        mileage:$('#id_mileage').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        console.log('FILL ADDED !!!');
        $('#id_liters').val('');
        $('#id_kilometers').val('');
        fuel_price:$('#id_fuel_price').val('');
        mileage:$('#id_mileage').val('');
        setTimeout (function() {
        $('#filling_table').load(document.URL + ' #filling_table');
        console.log('time');
      }, 1000);
      }
    });
  });

</script>
{% endfor %}
{% endblock %}