{% extends 'todo/base.html' %}
{% block body %}
{% load static %}
<div class="container mt-3">
  <div class="card p-2 shadow">
    <div class="row no-gutters">
      <div class="col-lg-4 d-flex align-items-center">
        <figure class="figure mx-auto">
          {% if car.0.image %}
          <img src="{{car.0.image.url}}" class="card-img" alt="...">
          {% else %}
          <img class="card-img-top d-block" style="width:100%;" src="{% static 'todo/img/car-solid.svg'%}"
                 alt="{{detail}}">
            {% endif %}
          <figcaption class="figure-caption text-right">{{car.0.make}} | {{car.0.model}} | {{car.0.engine}}</figcaption>
        </figure>
      </div>
      <div class="col-lg-8">
        <div class="card-body p-0 p-md-2">
          <form class="modal-content" enctype="multipart/form-data" method="post">{%csrf_token%}
            <div class="modal-header d-flex justify-content-between">
              <h5 class="modal-title" id="exampleModalLongTitle">Edycja</h5>
              <a href="{{return_url}}" class="text-secondary">powrót</a>
            </div>
            {% include 'cars/car_form.html' %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}