<div class="modal-body">
  <span>Nazwa:</span>
  <div class="form-row">
    <div class="col">
      {{form.name}}
    </div>
  </div>
  <span>Marka i model:</span>
  <div class="form-row">
    <div class="col">
      {{form.make}}
    </div>
    <div class="col">
      {{form.model}}
    </div>
  </div>
  <span>Rok produkcji:</span>
  <div class="form-row">
    <div class="col">
      {{form.year}}
    </div>
  </div>
  <span>Silnik i moc (KM):</span>
  <div class="form-row">
    <div class="col">
      {{form.engine}}
    </div>
    <div class="col">
      {{form.power}}
    </div>
  </div>
  <span>Przebieg w dniu zakupu:</span>
  <div class="form-row">
    <div class="col">
      {{form.mileage}}
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 col-xl-6">
      <span>Logo:</span>
      {{form.logo}}
      <hr class="d-xl-none">
    </div>

    <div class="col-12 col-xl-6">
      <span>Zdjęcie:</span>
      {{form.image}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </div>
</div>