{% extends 'todo/base.html' %}
{% load static %}

{% block body %}
<div class="container mt-1">
  <div class="jumbotron shadow shadow-lg ">
    <h3 class="text-center">{{service_instance.date}} | {{service_instance.mileage}} km</h3>
    <hr>
    <button id="add_invoice_button" class="btn-block btn btn-secondary btn-sm">Dodaj fakturę/paragon</button>
    <form  method="post" id="add_invoice" enctype="multipart/form-data" style="display:none;">{% csrf_token%}
      <div class="form-row d-flex align-items-center">
        <div class="col-12 col-md-6">{{form.name}}</div>
        <div class="col-12 col-md-6">{{form.file}}</div>
      </div>
      <button class="btn btn-success btn-sm btn-block mt-2" type="submit">Zapisz</button>
    </form>
    <div class="mt-2 border p-3">
      {% if service_invoices %}
        <table class="table table-striped table-sm">
          <thead class="bg-dark text-light">
            <tr>
              <th>Nazwa</th>
              <th class="text-center">plik</th>
              <th class="text-right">Opcje</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in service_invoices %}
              <tr>
                <td>{{invoice.name}}</td>
                <td class="text-center">
                  <a target="_blank" href="{% url 'home' %}{{invoice.file}}" class="btn btn-secondary py-1 px-3">
                    <i class="fas fa-file-invoice"></i>
                  </a>
                </td>
                <td class="text-right">
                  <a href="{% url 'cars:delete_invoice' car_id service_instance.pk invoice.pk %}" class="btn btn-secondary py-1 px-3"
                  onclick="return confirm('Czy na pewno usunąć {{invoice.name}}?');">
                    <i class="far fa-trash-alt text-light "></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <div class="alert alert-secondary">
        <p class="text-center">Brak faktur/paragonów</p>
      </div>
      {% endif %}
  </div>
    <div class="d-flex flex-row-reverse  mt-2 bd-highlight">
      <a href="{% url 'cars:car_details' car_id %}#service" class="btn btn-secondary btn-sm ">Wróć</a>
    </div>
</div>

{% endblock %}