{% extends 'todo/base.html' %}
{% load static %}

{% block body %}
<div class="container mt-1">
  <div class="jumbotron shadow shadow-lg ">
    <h3 class="text-center">{{service_instance.date}} | {{service_instance.mileage}} km</h3>
    <hr>
    <div>
      {% for invoice in service_invoices %}
      <input class="form-control" type="text" value="{{invoice.name}}">
      <a target="_blank" href="{% url 'home' %}media/{{invoice.file}}"> plik</a>
      Zmień:<input type="file">
      <button class="btn btn-sm btn-block btn-danger">Usuń {{invoice.name}}</button>


      <hr>
      {% endfor %}
      <form method="post" id="test" enctype="multipart/form-data">
        <hr>
        <div class="d-flex flex-row-reverse bd-highlight">
          <a href="{% url 'cars:car_details' car_id %}#service" class="btn btn-secondary btn-sm ">Wróć</a>
<!--          <button type="submit" class="btn btn-success btn-sm mr-1">Zapisz zmiany</button>-->
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}