{% extends 'todo/base.html' %}
{% load static %}

{% block body %}
<div class="container mt-1">
  <div class="jumbotron shadow shadow-lg ">
    <h3 class="text-center">{{service_instance.date}} | {{service_instance.mileage}} km</h3>
    <hr>
    <button id="add_invoice_button" class="btn-block btn btn-secondary btn-sm">Dodaj fakturę/paragon</button>
    <form  method="post" id="add_invoice" enctype="multipart/form-data" style="display:none;">{% csrf_token%}
      <div class="form-row d-flex align-items-center">
        <div class="col-12 col-md-6">{{form.name}}</div>
        <div class="col-12 col-md-6">{{form.file}}</div>
      </div>
      <button class="btn btn-success btn-sm btn-block mt-2" type="submit">Zapisz</button>
    </form>
    <div class="mt-2 border p-3">
      <div class="row">
        {% for invoice in service_invoices %}
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-header">
              <input class="form-control" type="text" value="{{invoice.name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"><a target="_blank" href="{% url 'home' %}{{invoice.file}}">Podgląd pliku</a></p>
              <a href="{% url 'cars:delete_invoice' car_id service_instance.pk invoice.pk %}" class="btn btn-secondary"><i class="far fa-trash-alt text-light "></i> </a>
            </div>
          </div>

        </div>

<!--      <input class="form-control" type="text" value="{{invoice.name}}">-->
<!--      -->
<!--      Zmień:<input type="file">-->
<!--      <button class="btn btn-sm btn-block btn-danger"></button>-->
<!--      <hr>-->

      {% endfor %}
    </div>
      <form method="post" id="test" enctype="multipart/form-data">
        <hr>
<!--        {{form.name}}-->
<!--        {{form.file}}-->
        <hr>
        <div class="d-flex flex-row-reverse bd-highlight">
          <a href="{% url 'cars:car_details' car_id %}#service" class="btn btn-secondary btn-sm ">Wróć</a>
<!--          <button type="submit" class="btn btn-success btn-sm mr-1">Zapisz zmiany</button>-->
        </div>
      </form>

  </div>
</div>

{% endblock %}