{% if lists.0 %}
<table class="w-100 table mb-0 table-sm">
  {% for part in lists.0 %}
  <tr>
    <td class="d-flex justify-content-between p-1">
      <span>{{part}}</span><span>{{part.price}}</span>
    </td>
  </tr>
  {% endfor %}
  <tr class="serviceEditButton_{{service.id}}" id="serviceEditButton_{{service.id}}" >
    <td class="p-0 text-center">
      <a href="{% url 'cars:edit_parts_services' car.0.pk service.id  %}" class="text-dark pointer"><i class="fas fa-edit"></i></a>
    </td>
  </tr>
</table>
{% else %}
<a href="{% url 'cars:edit_parts_services' car.0.pk service.id  %}" class="btn btn-block btn-sm btn-secondary">Dodaj części/usługi</a>
{% endif %}