{% extends 'todo/base.html' %}
{% load l10n %}
{% block body %}
<div class="container-fluid mt-2">
  <div class="container">
    <div class="jumbotron shadow p-2">
        <h3 class="text-center">MOJE LISTY ZAKUPÓW<a href="{% url 'shopping:edit_check_list' %}" class="fas fa-cogs ml-3 text-dark"></a></h3>
      <hr class="my-2">
      <div class="form-row">
        <div class="col-12 {% if shopping_lists %}col-md-8{% endif %}">
          <button type="button" class="btn btn-primary btn-block mb-1 mb-md-0" data-toggle="modal"
                  data-target="#addNewList">
            Dodaj nową
          </button>
        </div>
        <div class="col-12 col-md-4">
          <div class="btn-group btn-block {% if shopping_lists %}{%else%}d-none{% endif %}" role="group">
            <button type="button" class="btn btn-secondary " onclick="printAllShoppingLists()"><i class="fas fa-print"></i> </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-checklist-modal-lg"><i class="fas fa-check-double"></i> </button>
            <a onclick="return confirm('Usunąć wszystkie listy zakupów?')"
             href="{% url 'shopping:delete_all_shopping_lists' %}"
             class="btn btn-warning  ">
            Usuń wszyskie
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-checklist-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container p-1">
          <form method="post" class="card text-center" name="checkListAdd" id="checkListAdd" action="{% url 'shopping:add_from_checklist' %}">{% csrf_token %}
            <div class="card-header">
              Zaznacz i dodaj na listę zakupów
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="card-body">
              <div class="form-row">
              {% for checkitem in checklist %}
                <div class="col-10 col-lg-3 text-left">
                  <label id="checkItemLabel_{{checkitem.id}}">
                    <input class="mr-1" type="checkbox" name="checkitem[]" value="{{checkitem}}###{{checkitem.shop}}" id="checkItem_{{checkitem.id}}">{{checkitem}}
                  </label>
                  <hr class="p-0 m-0">
                </div>
                <div class="col-2 col-lg-1">
                  <button type="button" class="crossChecked_ btn bnt-sm btn-secondary btn-block p-0" id="crossChecked_{{checkitem.id}}">jest</button>
                </div>
                  {% endfor %}
                </div>
            </div>
            <div class="card-footer text-muted text-center">
              <button type="submit" class="btn btn-primary">Dodaj do list zakupów</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if shopping_lists %}
  <div class="row d-flex justify-content-center">
    {% for shop, products in shopping_lists.items %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <div class="card shadow" id="{{shop}}">
        <div class="card-header text-center">
          <div class="input-group mb-1">
            <input type="text" readonly class="form-control" value="{{shop}}" id="shopName_{{shop.id}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle shoppingListSettingsButton" id="shoppingListSettingsButton_{{shop.id}}" type="button">Opcje
              </button>
            </div>
          </div>
          <div class="" style="display:none" id="shopping_list_settings_{{shop.id}}">
            <div class="" >
              <div class="dropdown-item">
                <form action="{% url 'shopping:shopping_list_edit' shop.id %}" method="POST" id="shopNameUpdate_{{shop.id}}" class="shopNameUpdate_" role="form">{% csrf_token%}
                  <input class="form-control mb-1" type="text" name="name" id="shopNameUpdateInput_{{shop.id}}"  value="{{shop.name}}">
                  <button type="submit" class="btn btn-success btn-block btn-sm" id="edit-btn">Zmień nazwe</button>
                </form>
              </div>
              {% if products %}
              <a class="dropdown-item">
                <button class="btn btn-outline-dark btn-block btn-sm" type="button" onclick="printShoppingList({{shop.id}})">Drukuj listę</button>
              </a>
              {% endif %}
              <form class="dropdown-item" action="{% url 'shopping:delete' shop.id %}">
                <input type="hidden" name="to_delete" value="{{shop.id}}">
                <button onclick="return confirm('Usunąć {{shop}} i wszystkie pozycje z listy?')"
                        class="btn btn-danger btn-sm btn-block" type="submit">Usuń listę
                </button>
              </form>
              {% if products %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item deleteBought_" href="{% url 'shopping:delete_bought' shop.id %}" >
                <button class="btn btn-warning btn-sm btn-block" id="deleteBought_{{shop.id}}">Usuń kupione</button>
              </a>
              <a class="dropdown-item" href="{% url 'shopping:purge_list' shop.id %}">
                <button onclick="return confirm('Wyczyścić wszystkie pozycje z listy?')"
                        class="btn btn-warning btn-sm btn-block">Wyczyść listę
                </button>
              </a>
              <form style="display:none" class="bought_checkbox_form dropdown-item" action="{% url 'shopping:bought_many' %}" method="POST" id="boughtManyForm_{{forloop.counter}}">{% csrf_token %}
                <button class="btn btn-secondary btn-block btn-sm" type="submit">Zaznaczone = kupione</button>
                  {% for product in products %}
                  <input style="display:none"  type="checkbox" name="bought_checkbox" class="bought_checkbox" id="checked_{% for prod, qt in product.items %}{{qt.2}}{% endfor %}" value="{% for prod, qt in product.items %}{{qt.2}}{% endfor %}">
                {% endfor %}
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush shoppingList" id="shop_{{shop.id}}">
          <input type="hidden" value="{{shop}}">
          {% for product in products %}
          {% for prod, qt in product.items %}

          <li class=" {% if qt.1 %}todo-completed bg-secondary  {%else%} bg-light {%endif%}list-group-item d-flex justify-content-between align-items-center py-md-1 {% if qt.6%}border-dark firstInDivision{%endif%}" id="prod_{{qt.2}}">
            <span><input class="{% if qt.1 %}d-none{%endif%}" type="checkbox" name="bought_many" id="boughtMany_{{qt.2}}">
              {% if qt.1 %}
              <span class="disabled">{{prod}}</span>
              {% else %}
              <a  class="shoppingBought_ pointer text-dark" id="shoppingBought_{{qt.2}}" >{{prod}}
              </a>
              {% endif %}
            </span>
            <span>
              <span class="{% if qt.1 %}todo-completed {%endif%} badge badge-dark badge-pill" id="quantity_{{qt.2}}">{{qt.0}}</span>
              <span class="{% if qt.1 %}todo-completed {%endif%} badge badge-dark badge-pill" id="unit_{{qt.2}}" >{{qt.3}}</span>
              <span class="dropdown_shopping_item badge badge-dark badge-pill fas fa-cog {% if qt.1 %}d-none{%endif%}" id="dropdown_{{qt.2}}" style="cursor:pointer;"> </span>
            </span>
          </li>
          <li class="list-group-item p-0 border-bottom pb-2" id="{{qt.2}}" style="display:none;">
            <ul class="nav nav-tabs " id="myTab" role="tablist">
              <li class="nav-item active">
                <a class="editPosition_ nav-link " id="editPosition-tab" data-toggle="tab" href="#editPosition_{{qt.2}}" role="tab" aria-controls="home" aria-selected="true">Edycja</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " id="detailsPosition-tab" data-toggle="tab" href="#detailsPosition_{{qt.2}}" role="tab" aria-controls="profile" aria-selected="false">Szczegóły</a>
              </li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="editPosition_{{qt.2}}" role="tabpanel" aria-labelledby="home-tab">
                <form id="editProd_{{qt.2}}" class="editProd_ form p-1 " action="{% url 'shopping:update_product' qt.2 %}" method="post">{% csrf_token %}
                  <div class="from-group row">
                    <div class="col-12">
                      <input class="form-control" type="text" name="new_product_name" id="newProductName_{{qt.2}}" value="{{prod}}">
                    </div>
                  </div>
                  <div class="from-group row">
                    <div class="col-6 pr-0">
                      <input class="form-control" type="number" name="new_quantity" step="0.01" id="newQuantity_{{qt.2}}" value="{% localize off %}{{qt.0}}{% endlocalize %}">
                    </div>
                    <div class="col-6 pl-0">
                      <select class="form-control" name="new_unit" id="newUnit_{{qt.2}}">
                        <option value="{{qt.5}}">{{qt.3}}</option>
                        <option disabled>-----</option>
                        {% for unit in units %}
                          <option value="{{unit.id}}">{{unit}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row mb-0">
                    <div class="col-12">
                      <button class="btn btn-primary btn-block" type="submit">Zmień</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" id="detailsPosition_{{qt.2}}" role="tabpanel" aria-labelledby="profile-tab">
                <div class="p-1" id="prodDetails_{{qt.2}}">
                  {% if qt.4 %}
                  <small class="mb-1">Posiłki zawierające {{prod}}</small>
                  {% else %}
                  <small class="mb-1">Brak posiłków zawierających {{prod}}</small>
                  {% endif %}
                  <ul id="show_meals_containing_ingr_list" class="list-group m-2">
                    {% for element in qt.4 %}
                    <li class="list-group-item p-0">
                      <small>
                        <a class="text-dark" href="{% url 'meals:edit_meals' %}">{{element.mealOption}}</a>: <a class="text-dark" href="{% url 'meals:edit_meal_ingredients' element.meal_id_id %}">{{element.mealName}}</a>
                      </small>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
          <div class="list-group-item d-flex justify-content-between align-items-center addProdForm" >
            <form class="addProdForm_ input-group" action="" method="POST" id="addProdForm_{{shop.id}}" style="position:relative">
              {% csrf_token %}
              {% include 'shopping/product_form.html' %}
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">+</button>
              </div>
            </form>
            <div id="saveAlert_{{shop.id}}" class="alert alert-info text-center rounded shadow mt-2"
                  style="position: absolute; left:20%; width:60%; display:none;">Zapisywanie</div>
          </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <div class="container">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Brak list zakupowych!</h4>
      <p>Dodaj nową listę, a pojawi się ona w tym miejscu!</p>
      <hr>
      <p class="mb-0">Widzisz ten ekran ponieważ nie posiadasz żadnych list zakupów!</p>
    </div>
  </div>
  {% endif %}
</div>

<!--MODALS-->
<div class="modal fade" id="addNewList" tabindex="-1" role="dialog" aria-labelledby="addNewList" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nowa lista zakupów</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'shopping:add' %}" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              {{form.name}}
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-success" id="add-btn">DODAJ</button>
                </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.addProdForm_').on('submit', function(e){
    e.preventDefault();
    var id = e.target.id
    var shop_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'POST',
      url:'shopping/add/product/' + shop_id,
      data:{
        product_name:$('#addProdForm_'+ shop_id + ' #id_product_name').val(),
        quantity:$('#addProdForm_'+ shop_id + ' #id_quantity').val(),
        prod_unit:$('#addProdForm_'+ shop_id + ' #id_prod_unit').val(),
        prod_division:$('#addProdForm_'+ shop_id + ' #id_prod_division').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        $('#addProdForm_'+ shop_id).fadeIn();
        $('#addProdForm_'+ shop_id + ' #id_quantity').val(1)
        $('#addProdForm_'+ shop_id + ' #id_prod_unit').val(1)
        $('#saveAlert_'+ shop_id).fadeOut();
        setTimeout (function() {
          if($('#new_division', json).val() == 1 ){
            $('#shop_'+ shop_id).append(json)
            $('#addProdForm_'+ shop_id + ' #id_product_name').val('');
            $('#addProdForm_'+ shop_id + ' #id_product_name').focus();
          }
          else{
            $('#shop_'+ shop_id).load(document.URL + ' #shop_'+ shop_id )
            $('#addProdForm_'+ shop_id + ' #id_product_name').val('');
            $('#addProdForm_'+ shop_id + ' #id_prod_division').val(1)
            $('#addProdForm_'+ shop_id + ' #id_product_name').focus();
          }

      }, 100);
      }
    });

  });

  $('body').on('submit','.editProd_',function(e){
    e.preventDefault();
    var id = e.target.id
    var prod_id = parseInt(id.split('_')[1])
    $('#quantity_'+prod_id).text(parseFloat($('#newQuantity_'+ prod_id).val()).toFixed(1).replace('.', ','));
    $('#unit_'+prod_id).text($('#newUnit_'+prod_id + ' option:selected').text());
    $.ajax({
      type:'POST',
      url:'shopping/update_product/' + prod_id,
      data:{
        new_product_name:$('#newProductName_'+ prod_id).val(),
        new_quantity:$('#newQuantity_'+ prod_id).val(),
        new_unit:$('#newUnit_'+ prod_id).val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        setTimeout (function() {
          if (data.includes('!DOCTYPE html')){
            $('#prod_'+prod_id).replaceWith($('#prod_' + prod_id,data));
            $('#detailsPosition_'+prod_id).replaceWith($('#detailsPosition_'+prod_id,data));
          }
      }, 100);
      }
    });
  });

  $('body').on('click','.shoppingBought_',function(e){
    e.preventDefault();
    var id = e.target.id
    var prod_id = parseInt(id.split('_')[1])
    $('#prod_'+prod_id).removeClass('bg-light');
    $('#prod_'+prod_id).addClass('bg-secondary');
    $('#prod_'+prod_id).addClass('todo-completed');
    $('#prod_'+prod_id + ' .badge-pill').addClass('disabled todo-completed');
    $('#dropdown_'+prod_id).hide();
    $('#boughtMany_'+prod_id).hide();
    $('#shoppingBought_'+prod_id).replaceWith('<span class=disabled>'+ e.target.text +'</span>');
    $('#' + prod_id).remove();


    $.ajax({
      type:'GET',
      url:'shopping/bought/' + prod_id,
      data:{
      },
      success: function(data){
      },
    });
  });

  $('body').on('click','.deleteBought_',function(e){
    e.preventDefault();
    var id = e.target.id
    var shop_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'GET',
      url:'shopping/delete_bought/' + shop_id,
      data:{
      },
      success: function(data){
        if($('#shop_'+shop_id+ ' .todo-completed').hasClass('firstInDivision')){
        $('#shop_'+shop_id+ ' .todo-completed').remove();
        $('#shop_'+ shop_id).load(document.URL + ' #shop_'+ shop_id )
        } else{
          $('#shop_'+shop_id+ ' .todo-completed').remove();
        }
      },
    });
  });

  $('.shopNameUpdate_').on('submit', function(e){
    e.preventDefault();
    var id = e.target.id
    var shop_id = parseInt(id.split('_')[1])
    $.ajax({
      type:'POST',
      url:'shopping/shopping_list_edit/' + shop_id,
      data:{
        name:$('#shopNameUpdateInput_'+ shop_id).val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          $('#shopName_'+ shop_id).replaceWith($('#shopName_'+ shop_id,json));
      }, 100);
      }
    });
   });

   /*$('#checkListAdd').on('submit', function(e){
    e.preventDefault();
    to_add_array = []
    $.ajax({
      type:'POST',
      url:'shopping/add_from_checklist',
      data:{
        products_to_add:$("input:checkbox[name=checkitem[]",
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(json){
        setTimeout (function() {
          alert('success');
      }, 100);
      }
    });

   }); */


</script>

{% endblock %}