{% extends 'todo/base.html' %}
{% block body %}
{% load static %}

<div class="container mt-1">
    <div class="row">
      <div class="col-12 px-1 px-md-0">
         <hr class="bg-dark my-1">
    <button class="btn btn-dark btn-block mb-1" data-toggle="modal" data-target="#add_receipt_form">Dodaj paragon
    </button>
    <hr class="bg-dark my-1">
      </div>
        {% for user_receipt in user_receipts%}
        <div class="col-12 col-lg-6 mb-1" >
          <div class="row" style="height:100%">
            <div class="col-2  bg-light p-1 text-center">
              <a {% if user_receipt.file %}href="{% url 'home' %}{{user_receipt.file}}" {% endif %} class="small text-dark" target="_blank" style="text-decoration:none;">

                <figure class="figure m-0">
                  <img height="65" class="my-1 p-0" src="{% static 'todo/img/receipts_categories_imgs/' %}{{user_receipt.category.icon}}" style="width:100%">
                  {% if user_receipt.file %}
                  <figcaption class="figure-caption">
                      wyświetl
                  </figcaption>
                  {% endif %}
                </figure>
              </a>
            </div>
            <a class="col-10 bg-secondary text-light" href="{% url 'receipts:receipt' user_receipt.id %}" style="text-decoration:none;">
              <div class="d-flex justify-content-between">
                <div class="left">
                  <h4><b>{{user_receipt}}</b></h4>
                  <div class="small">{{user_receipt.purchase_date}}</div>
                  <div><b>{{user_receipt.price}}</b> PLN</div>
                </div>
                <div class="d-flex align-items-center">
                  {% if  user_receipt.warranty_left > 0%}
                  <div class="text-center">Gwarancja:<br>{{user_receipt.warranty_left}} dni</div>
                  {% else %}
                  <div class="text-center">Gwarancja:<br>wygasła</div>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<div class="modal fade" id="add_receipt_form" tabindex="-1" role="dialog" aria-labelledby="edit_form" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" action="create_receipt" enctype="multipart/form-data">{%csrf_token%}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj nowy paragon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include 'receipts/receipt_form.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-dark">Zapisz</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}