{% extends 'todo/base.html' %}
{% block body %}
<div class="container">
  <div class="bg-light border shadow-lg mt-2 p-2">
    <div class="form-group row">
      <label for="chars" class="col-sm-2 col-form-label">Ilość znaków</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" name="chars" id="chars" value="8"/>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Opcje</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="specials" id="specials" />
            <label class="form-check-label" for="specials">Znaki specjalne</label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-12">
        <button class="btn btn-dark btn-block" type="button" name="generate" onclick="generate()">GENERUJ</button>
      </div>
    </div>
  </div>
  <div id="result_div" class="alert alert-dark p-4">
    <p class="lead text-center mb-0" id="result">---------------------</p>
  </div>
</div>

{% endblock %}